/* Resetear los márgenes y el padding del cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Fuente de texto elegante */
    background-color: #f5f5f5;
    /* Fondo gris claro */
}

/* Estilo del contenedor principal */
.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    text-align: center;
}

/* Estilo del encabezado */
h1 {
    color: #0a4f98;
    /* Texto en azul */
}

/* Estilo del botón de acceso */
.button {
    background-color: #406c9c;
    /* Fondo del botón en azul */
    color: #fff;
    /* Texto en blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #0056b3;
    /* Cambia el color al pasar el mouse */
}

/* Estilo de los títulos de sección */
h2 {
    color: #333;
    /* Texto en gris oscuro */
    margin-top: 20px;
}

/* Estilo de etiquetas de formulario y campos de entrada */
label {
    display: block;
    margin-top: 10px;
    color: #333;
    /* Texto en gris oscuro */
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo del botón para enviar el formulario */
button[type="submit"] {
    background-color: #406c9c;
    /* Fondo del botón en azul */
    color: #fff;
    /* Texto en blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    /* Centrar el botón */
}

button[type="submit"]:hover {
    background-color: #0056b3;
    /* Cambia el color al pasar el mouse */
}

/* Estilo del enlace de consulta */
a {
    text-decoration: none;
    color: #007bff;
    /* Texto en azul */
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* Estilo del párrafo de selección de actividad */
p {
    color: #333;
    /* Texto en gris oscuro */
    margin-top: 10px;
}

/* Estilos para las pestañas */
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.tab-content {
    display: none;
}

/* Estilos para la pestaña activa */
.tab.active {
    background-color: #0056b3;
}

.tab-content.active {
    display: block;
}

/* Estilo de los campos de entrada dentro de la pestaña "Cronograma" */
.cronograma-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo del campo de moneda */
#tipo_moneda {
    width: 103%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.js-select2 {
    width: 103%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para la tabla */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    /* Fondo blanco */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* Borde inferior delgada */
}

.styled-table th {
    background-color: #f5f5f5;
    /* Fondo gris claro para encabezados */
    font-weight: bold;
    color: #333;
    /* Texto en gris oscuro */
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Fondo gris claro para filas pares */
}

.styled-table tbody tr:hover {
    background-color: #e0e0e0;
    /* Cambia el color al pasar el mouse */
}